<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>280149087131-jdfh9hm3rrpr1b9rnv2s7doa4htc3kqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvaUxRYs5ZX_S7rPNWFhPrdS2-kXv7dGE</string>
	<key>GCM_SENDER_ID</key>
	<string>280149087131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ar</string>
	<key>PROJECT_ID</key>
	<string>serene-circlet-394113</string>
	<key>STORAGE_BUCKET</key>
	<string>serene-circlet-394113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280149087131:ios:e186a55fe8a46ad56cc73e</string>
	<key>DATABASE_URL</key>
	<string>https://serene-circlet-394113-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>